.ahorro h1 {
  margin-bottom: 50px; }

.ahorro .ah-2-section {
  margin-top: 170px; }
  .ahorro .ah-2-section .ah-2-section_text {
    background-color: #f6f6f6;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%; }
    .ahorro .ah-2-section .ah-2-section_text:nth-child(2) {
      background-color: #fff; }
      .ahorro .ah-2-section .ah-2-section_text:nth-child(2) figure {
        margin-left: 0px;
        margin-right: 50px; }
    .ahorro .ah-2-section .ah-2-section_text .text {
      width: 60%; }
      .ahorro .ah-2-section .ah-2-section_text .text span {
        color: #339966; }
      .ahorro .ah-2-section .ah-2-section_text .text p {
        margin-top: 20px; }
    .ahorro .ah-2-section .ah-2-section_text figure {
      width: 300px;
      margin-left: 50px; }
      .ahorro .ah-2-section .ah-2-section_text figure img {
        width: 100%; }

.ahorro .ah-1-section figure {
  max-width: 366px;
  min-width: 250px;
  overflow: hidden; }
