.contact {
  margin-top: 170px; }
  .contact .contact-2-section {
    padding: 50px;
    background-color: #f6f6f6; }
    .contact .contact-2-section:last-child {
      background-color: #fff; }
    .contact .contact-2-section .icon {
      width: 83px;
      height: 83px; }
      .contact .contact-2-section .icon figure {
        width: 83px;
        height: 83px;
        margin: 0px; }
    .contact .contact-2-section h4 {
      margin-top: 40px; }
    .contact .contact-2-section .address p {
      text-decoration: underline; }
      .contact .contact-2-section .address p i {
        margin-right: 5px;
        color: #000; }
      .contact .contact-2-section .address p a {
        color: #000; }
