.intro-page .page-menu {
  height: 70px; }
  .intro-page .page-menu ul {
    list-style: none;
    margin: 0px; }

.intro-page section.intro-section {
  width: 100%;
  padding: 0px;
  margin-top: 170px; }
  .intro-page section.intro-section .intro-text {
    margin-bottom: 50px;
    margin-left: 50px;
    padding: 0px;
    width: 600px; }
    .intro-page section.intro-section .intro-text h6 {
      font-size: 20px;
      font-weight: normal; }
    .intro-page section.intro-section .intro-text h3 {
      font-size: 20px; }
  .intro-page section.intro-section figure {
    position: relative; }
    .intro-page section.intro-section figure img {
      width: 100%; }
    .intro-page section.intro-section figure button {
      position: relative;
      width: 178px;
      height: 48px;
      background-color: #339966;
      color: #fff;
      margin-left: 50px;
      margin-bottom: -20px;
      top: 13px; }

.intro-page section.info-1-section {
  height: 400px;
  background-color: #f6f6f6; }
  .intro-page section.info-1-section .info-1-section_text {
    width: 600px; }
    .intro-page section.info-1-section .info-1-section_text a {
      color: #000; }
  .intro-page section.info-1-section .info-1-section_img {
    position: absolute;
    right: 100px;
    width: 300px;
    height: 600px;
    text-align: right;
    box-shadow: 0 8px 12px 0 rgba(191, 197, 209, 0.22), 0 4px 4px 0 rgba(93, 97, 104, 0.1), inset 0 -8px 12px 0 rgba(239, 242, 246, 0.77), inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: 0.2s; }
    .intro-page section.info-1-section .info-1-section_img .img-container {
      overflow: hidden;
      margin: auto;
      position: relative;
      top: 55px;
      width: 270px;
      height: 479px; }
      .intro-page section.info-1-section .info-1-section_img .img-container figure.mobile-img {
        position: relative; }
        .intro-page section.info-1-section .info-1-section_img .img-container figure.mobile-img div {
          transition: 0.8s; }
        .intro-page section.info-1-section .info-1-section_img .img-container figure.mobile-img img {
          width: 270px;
          height: 479px;
          border: 1px solid #afafaf; }

.intro-page section.info-2-section {
  background-color: #ffff !important;
  margin-bottom: -100px; }
  .intro-page section.info-2-section ul li {
    position: relative;
    padding-left: 20px;
    margin-top: 30px; }
    .intro-page section.info-2-section ul li:after {
      content: "1";
      font-size: 18px;
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      text-align: center;
      line-height: 40px;
      background-color: #339966;
      border-radius: 50%;
      position: absolute;
      left: -40px;
      top: 50%;
      margin-top: -20px; }

.intro-page .info-3-section {
  background-color: #f6f6f6;
  height: 400px; }
  .intro-page .info-3-section .info-1-section_text {
    width: 600px; }
