.iban {
  margin-top: 120px; }
  .iban .iban-1-section, .iban .iban-2-section {
    margin-top: 50px; }
    .iban .iban-1-section .iban-1-section_text, .iban .iban-1-section .iban-2-section_text, .iban .iban-2-section .iban-1-section_text, .iban .iban-2-section .iban-2-section_text {
      width: 500px; }
    .iban .iban-1-section figure, .iban .iban-2-section figure {
      width: 500px; }
  .iban .iban-3-section p {
    font-weight: 100;
    padding: 0px;
    width: 80%;
    font-weight: 400;
    margin-top: 20px; }
  .iban .iban-4-section {
    width: 80%; }
    .iban .iban-4-section h5 {
      margin-bottom: 20px; }
    .iban .iban-4-section p.margin-top {
      margin-top: 50px; }
      .iban .iban-4-section p.margin-top:last-child {
        margin-top: 0px; }
    .iban .iban-4-section .comment {
      margin-top: 50px; }
      .iban .iban-4-section .comment ul {
        list-style: none; }
        .iban .iban-4-section .comment ul li {
          margin-left: 100px;
          margin-bottom: 50px;
          position: relative; }
          .iban .iban-4-section .comment ul li:before {
            content: "\f10e";
            font-family: "fontawesome";
            font-size: 30px;
            color: #339966;
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            text-align: center;
            line-height: 40px;
            position: absolute;
            left: -60px;
            top: 20%;
            margin-top: -20px; }
  .iban .iban-5-section {
    background-color: #f6f6f6;
    height: 200px; }
    .iban .iban-5-section h5 {
      font-size: 25px; }
