.inversion .inv-1-section {
  position: relative;
  padding: 0px;
  margin-top: 120px; }
  .inversion .inv-1-section .inv-1-section_container {
    position: relative;
    width: 80%; }
    .inversion .inv-1-section .inv-1-section_container .inv-1-section_img {
      position: absolute;
      top: -76px;
      right: -4px; }
      .inversion .inv-1-section .inv-1-section_container .inv-1-section_img figure {
        width: 450px;
        z-index: 100; }
        .inversion .inv-1-section .inv-1-section_container .inv-1-section_img figure img {
          width: 100%; }
    .inversion .inv-1-section .inv-1-section_container .inv-1-section_text {
      width: 70%;
      position: relative;
      top: 10px; }
      .inversion .inv-1-section .inv-1-section_container .inv-1-section_text h4 {
        width: 70%; }
      .inversion .inv-1-section .inv-1-section_container .inv-1-section_text ul {
        list-style: none; }
        .inversion .inv-1-section .inv-1-section_container .inv-1-section_text ul li {
          font-size: 16px;
          margin: 24px 0px;
          padding-bottom: 10px;
          border-bottom: 1px solid #f1f1f1;
          padding-right: 190px;
          font-weight: 100;
          position: relative; }
          .inversion .inv-1-section .inv-1-section_container .inv-1-section_text ul li:after {
            content: "\f05d";
            font-size: 32px;
            color: #339966;
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            position: absolute;
            left: -45px;
            top: 21%;
            margin-top: -20px;
            font-family: "FontAwesome";
            font-weight: 100; }

.inversion .inv-2-section {
  position: relative;
  width: 100%;
  background-color: #339966;
  margin-top: 258px;
  padding-bottom: 100px; }
  .inversion .inv-2-section h4 {
    color: #fff;
    font-weight: normal; }
  .inversion .inv-2-section:after {
    content: "";
    position: absolute;
    background-color: #339966;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0px;
    z-index: -1;
    transform: translateY(-50%) skewY(-8deg); }
  .inversion .inv-2-section .inv-2-section_card {
    margin-top: 50px; }
    .inversion .inv-2-section .inv-2-section_card .card {
      width: 300px;
      height: 380px; }

.inversion .inv-3-section {
  width: 100%;
  margin-bottom: -100px; }
  .inversion .inv-3-section figure {
    margin: 0px; }
  .inversion .inv-3-section .inv-3-section_text {
    width: 600px;
    height: 300px;
    margin-right: 50px; }
    .inversion .inv-3-section .inv-3-section_text h2 {
      margin-bottom: 30px; }
    .inversion .inv-3-section .inv-3-section_text p {
      font-size: 18px; }
