.politica .poli-1-section {
  margin-top: 40px; }
  .politica .poli-1-section h1, .politica .poli-1-section .h6 {
    color: #333;
    margin-bottom: 18px; }
  .politica .poli-1-section p, .politica .poli-1-section li {
    color: #777;
    font-size: 18px;
    font-weight: lighter;
    line-height: 40px;
    font-family: "Open Sans"; }
