$btn-primary: #339966;

.ahorro {

  h1 {
    margin-bottom: 50px;
  }

  .ah-2-section {
    margin-top: 170px;

    .ah-2-section_text {
      background-color: rgb(246, 246, 246);
      padding-right: 50px;
      padding-left: 50px;
      width: 100%;

      &:nth-child(2) {
        background-color: #fff;

        figure {
          margin-left: 0px;
          margin-right: 50px;
        }

      }
      .text {
        width: 60%;

        span {
          color: $btn-primary;
        }

        p {
          margin-top: 20px;
        }
      }

      figure {
        width: 300px;
        margin-left: 50px;


        img {
          width: 100%;
        }
      }

    }
  }

  .ah-1-section {
    .m-text {
      margin-bottom: 20px;

    }
    figure {
      max-width: 366px;
      min-width: 250px;
      overflow: hidden;



    }

    ol {
      margin-top: 20px;
      padding: 0px;
    }
  }




}