.cookie {
  margin-top: 170px;

  .coo-1-section {
    margin-top: 40px;

    h1, .h6, h6 {
      color: #333;
      margin-bottom: 18px;
      margin-top: 30px;

    }

    p,li {
      color: #777;
      font-size: 18px;
      font-weight: lighter;
      line-height: 40px;
      font-family: "Open Sans";
    }
  }


}