$btn-primary: #339966;


.intro-page {

  .info-1-section_img_mobile {
    display: none;
    position: absolute;
    right: 100px;
    width: 300px;
    height: 600px;
    text-align: right;
    box-shadow: 0 8px 12px 0 rgba(191, 197, 209, 0.22), 0 4px 4px 0 rgba(93, 97, 104, 0.1), inset 0 -8px 12px 0 rgba(239, 242, 246, 0.77), inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: 0.2s;

    .img-container {
      overflow: hidden;
      margin: auto;
      position: relative;
      top: 55px;
      width: 270px;
      height: 479px;

      figure.mobile-img {
        position: relative;

        div {
          transition: 0.8s;
        }

        img {
          width: 270px;
          height: 479px;
          border: 1px solid #afafaf;

        }
      }
    }


  }


  .page-menu {
    height: 70px;

    ul {
      list-style: none;
      margin: 0px;
    }

  }



  section.intro-section {
    width: 100%;
    padding: 0px;
    margin-top: 170px;

    .intro-text {
      margin-bottom: 50px;
      margin-left: 50px;
      padding: 0px;
      width: 60%;

      h6 {
        font-size: 20px;
        font-weight: normal;
      }

      h3 {
        font-size: 20px;
      }

    }

    figure {
      position: relative;

      img {
        width: 100%;
      }

      button {
        position: relative;
        width: 178px;
        height: 48px;
        background-color: $btn-primary;
        color: #fff;
        margin-left: 50px;
        margin-bottom: -20px;
        top: 13px;

      }
    }

  }

  section.info-1-section {
    height: 400px;

    background-color: rgb(246, 246, 246);


    .info-1-section_text {
      width: 600px;

      a {
        color: #000;
      }
    }

    .info-1-section_img {
      position: absolute;
      right: 100px;
      width: 300px;
      height: 600px;
      text-align: right;
      box-shadow: 0 8px 12px 0 rgba(191, 197, 209, 0.22), 0 4px 4px 0 rgba(93, 97, 104, 0.1), inset 0 -8px 12px 0 rgba(239, 242, 246, 0.77), inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      background-color: rgb(255, 255, 255);
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-bottom-left-radius: 40px;
      transition: 0.2s;

      .img-container {
        overflow: hidden;
        margin: auto;
        position: relative;
        top: 55px;
        width: 270px;
        height: 479px;

        figure.mobile-img {
          position: relative;

          div {
            transition: 0.8s;
          }

          img {
            width: 270px;
            height: 479px;
            border: 1px solid #afafaf;

          }
        }
      }


    }

  }

  section.info-2-section {
    background-color: #ffff !important;
    margin-bottom: -100px;

    ul {
      list-style: none;
      li {
        position: relative;
        padding-left: 20px;
        margin-top: 30px;

        &:after {
          content: "1";
          font-size: 18px;
          color: #fff;
          display: inline-block;
          vertical-align: middle;
          width: 40px;
          height: 40px;
          margin-right: 10px;
          text-align: center;
          line-height: 40px;
          background-color: $btn-primary;
          border-radius: 50%;
          position: absolute;
          left: -40px;
          top: 50%;
          margin-top: -20px;
        }
      }
    }
  }

  .info-3-section {
    background-color: rgb(246, 246, 246);
    height: 400px;


    .info-1-section_text {
      width: 600px;
    }
  }

  .banner-img_mobile {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: rgb(246, 246, 246);
    overflow: hidden;
    height: 450px;

    .info-1-section_img_mobile {
      position: relative;
      width: 300px;
      right: 0px;
      height: 600px;
      text-align: right;
      box-shadow: 0 8px 12px 0 rgba(191, 197, 209, 0.22), 0 4px 4px 0 rgba(93, 97, 104, 0.1), inset 0 -8px 12px 0 rgba(239, 242, 246, 0.77), inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      background-color: rgb(255, 255, 255);
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-bottom-left-radius: 40px;
      transition: 0.2s;

      .img-container {
        overflow: hidden;
        margin: auto;
        position: relative;
        top: 55px;
        width: 270px;
        height: 479px;

        figure.mobile-img {
          position: relative;

          div {
            transition: 0.8s;
          }

          img {
            width: 270px;
            height: 479px;
            border: 1px solid #afafaf;

          }
        }
      }


    }
  }

  .banner-img_mobile_2 {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #fff;
    overflow: hidden;
    height: 450px;

    .info-1-section_img_mobile {
      position: relative;
      width: 300px;
      right: 55px;
      top: 15px;
      height: 600px;
      text-align: right;
      box-shadow: 0 8px 12px 0 rgba(191, 197, 209, 0.22), 0 4px 4px 0 rgba(93, 97, 104, 0.1), inset 0 -8px 12px 0 rgba(239, 242, 246, 0.77), inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      transform: scale(0.9,0.9) rotate(30deg) !important;
      background-color: rgb(255, 255, 255);
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-bottom-left-radius: 40px;
      transition: 0.2s;

      .img-container {
        overflow: hidden;
        margin: auto;
        position: relative;
        top: 55px;
        width: 270px;
        height: 479px;

        figure.mobile-img {
          position: relative;

          div {
            transition: 0.8s;
          }

          img {
            width: 270px;
            height: 479px;
            border: 1px solid #afafaf;

          }
        }
      }


    }
  }



}