$btn-primary: #339966;

.iban {
  margin-top: 170px;

  .iban-1-section, .iban-2-section {
    margin-top: 50px;

    .iban-1-section_text, .iban-2-section_text {
      width: 500px;
    }

    figure {
      width: 500px;
    }
  }

  .iban-3-section {
    p {
      //padding: 0px 100px;
      font-weight: 100;
      padding: 0px;
      width: 80%;
      font-weight: 400;
      margin-top: 20px;
    }
  }

  .iban-4-section {
    width: 80%;
    h5 {
      margin-bottom: 20px;
    }
    p.margin-top {
      margin-top: 50px;

      &:last-child {
        margin-top: 0px;
      }
    }

    .comment {
      margin-top: 50px;
      ul {
        list-style: none;
        li {
          margin-left: 100px;
          margin-bottom: 50px;
          position: relative;

          &:before {
            content: "\f10e";
            font-family: "fontawesome";
            font-size: 30px;
            color: $btn-primary;
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            text-align: center;
            line-height: 40px;
            position: absolute;
            left: -60px;
            top: 20%;
            margin-top: -20px;
          }
        }
      }
    }
  }

  .iban-5-section {
    background-color: rgb(246, 246, 246);
    height: 200px;

    h5 {
      font-size: 25px;
    }
  }

}