$btn-primary: #339966;

.inversion {

  .inv-1-section {
    position: relative;
    padding: 0px;
    margin-top: 50px;

    .inv-1-section_container {
      position: relative;
      width: 80%;


      .inv-1-section_img {
        position: absolute;
        top: -76px;
        right: -4px;

        figure {
          width: 450px;
          z-index: 100;

          img {
            width: 100%;
          }
        }
      }

      .inv-1-section_text {
        width: 70%;
        position: relative;
        top: 100px;

        h4 {
          width: 70%;
        }

        ul {
          list-style: none;


          li {
            font-size: 16px;
            margin: 20px 0px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f1f1f1;
            padding-right: 190px;
            font-weight: 100;
            position: relative;

            &:after {
              content: "\f05d";
              font-size: 32px;
              color: $btn-primary;
              display: inline-block;
              vertical-align: middle;
              width: 40px;
              height: 40px;
              margin-right: 10px;
              text-align: center;
              line-height: 40px;
              border-radius: 50%;
              position: absolute;
              left: -45px;
              top: 21%;
              margin-top: -20px;
              font-family: "FontAwesome";
              font-weight: 100;
            }
          }
        }
      }


    }
  }

  .inv-2-section {
    position: relative;
    width: 100%;
    background-color: $btn-primary;
    margin-top: 258px;
    padding-bottom: 100px;

    h4 {
      color: #fff;
      font-weight: normal;
    }

    &:after {
      content: "";
      position: absolute;
      background-color: $btn-primary;
      width: 100%;
      height: 300px;
      left: 0px;
      top: 0px;
      z-index: -1;
      transform: translateY(-50%) skewY(-8deg);
    }

    .inv-2-section_card {
      margin-top: 50px;
      .card {
        width: 300px;
        height: 380px;
      }
    }
  }

  .inv-3-section {
    background-image: url('./../img/banner_06.png');
    background-size: contain;
    background-repeat: no-repeat !important;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 0px;
    margin-bottom: -100px;

    .inv-3-section_text {
      width: 400px;
      height: 300px;
      margin-right: 100px;
    }
  }

}