@media (max-width: 575.99px) {
  footer {
    margin-top: 0px !important; }
  .intro-text {
    margin-left: 10px !important;
    width: 100% !important; }
  .info-section_text {
    margin-right: 0px !important; }
  html {
    font-size: 12px !important; }
  .intro-section {
    margin-top: 120px !important; }
    .intro-section figure.banner button {
      margin-left: 10px !important; }
    .intro-section figure.banner .info-1-section_img_mobile {
      transform: scale(0.6, 0.6);
      top: 48px !important;
      right: -73px !important; }
  .intro-page {
    overflow: hidden; }
    .intro-page .info-3-section {
      height: 200px !important;
      background-color: #ffff; }
      .intro-page .info-3-section .info-1-section_img_mobile {
        bottom: -140px !important;
        margin: auto;
        transform: scale(0.6, 0.6) rotate(30deg) !important;
        left: 47px !important; }
  .intro-page section.info-1-section .info-1-section_img_mobile {
    left: 61px !important; }
  .ahorro {
    padding-right: 10px !important;
    padding-left: 10px !important; }
    .ahorro .row {
      margin-right: 0px !important;
      margin-left: 0px !important; }
    .ahorro h1 {
      margin-bottom: 20px; }
    .ahorro .ah-2-section {
      padding-top: 50px;
      margin-top: 120px;
      background-color: #f6f6f6; }
      .ahorro .ah-2-section .ah-2-section_text {
        background-color: #f6f6f6;
        text-align: center; }
        .ahorro .ah-2-section .ah-2-section_text:nth-child(2) {
          background-color: #f6f6f6; }
          .ahorro .ah-2-section .ah-2-section_text:nth-child(2) figure {
            margin-left: 0px;
            margin-right: 50px; }
        .ahorro .ah-2-section .ah-2-section_text .text h6 {
          font-size: 1.2rem; }
        .ahorro .ah-2-section .ah-2-section_text .text span {
          font-size: 1.3rem; }
          .ahorro .ah-2-section .ah-2-section_text .text span span {
            display: block; }
    .ahorro .ah-2-section_text {
      flex-direction: column !important;
      padding-right: 10px !important;
      padding-left: 10px !important; }
      .ahorro .ah-2-section_text .text {
        width: 100% !important; }
    .ahorro .ah-1-section .row {
      margin-right: 0px !important;
      margin-left: 0px !important; } }

@media (max-width: 767.99px) {
  html {
    font-size: 14px !important; }
  .owl-theme {
    display: block !important; }
  footer {
    background-color: #EBEBEB; }
    footer .container {
      padding-right: 10px;
      padding-left: 10px; }
    footer .m_f_m {
      display: block; }
    footer .fo-1 {
      margin: auto; }
      footer .fo-1 .logo figure {
        width: 150px; }
      footer .fo-1 ul.l-social {
        display: none !important; }
      footer .fo-1 span.r {
        color: #373A3C; }
    footer div.f-2 ul {
      margin-bottom: 0px;
      padding-bottom: 0px;
      margin: 10px 0px; }
      footer div.f-2 ul a {
        color: #757575 !important; }
    footer .fo-2 {
      display: none; }
    footer .fo-2_m div.dropdown a {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent !important;
      border: none;
      color: #000 !important;
      cursor: pointer;
      margin: 14px 0px; }
      footer .fo-2_m div.dropdown a:hover {
        background-color: #f3f3f3; }
      footer .fo-2_m div.dropdown a:focus {
        outline: none;
        border: none;
        box-shadow: none; }
    footer .fo-2_m div.dropdown .dropdown-menu {
      width: 100% !important; }
  .page-menu .navbar-brand {
    margin-left: 10px;
    margin-right: 10px; }
  .page-menu ul {
    background-color: #fff; }
    .page-menu ul li {
      padding: 10px 10px; }
      .page-menu ul li:hover {
        background-color: #f3f3f3; }
  section {
    margin-top: 20px; }
  .inversion {
    overflow: hidden; }
    .inversion .inv-1-section {
      margin-top: 100px; }
      .inversion .inv-1-section .info-section_text {
        top: 0px !important; }
        .inversion .inv-1-section .info-section_text ul {
          display: none; }
      .inversion .inv-1-section .inv-1-section_container .inv-1-section_text {
        width: 100%; }
      .inversion .inv-1-section .inv-1-section_container .inv-1-section_img {
        top: 148px !important;
        left: 0 !important; }
        .inversion .inv-1-section .inv-1-section_container .inv-1-section_img figure {
          width: 338px; }
    .inversion .inv-2-section {
      margin-top: 540px; }
      .inversion .inv-2-section:after {
        height: 596px; }
      .inversion .inv-2-section .inv-2-section_card {
        margin-top: 0px; }
        .inversion .inv-2-section .inv-2-section_card .card.desktop {
          display: none !important; }
        .inversion .inv-2-section .inv-2-section_card .card {
          margin: 40px auto;
          height: 336px; }
          .inversion .inv-2-section .inv-2-section_card .card figure {
            margin-bottom: 32px; }
          .inversion .inv-2-section .inv-2-section_card .card p.text-center {
            font-size: 1.2rem; }
    .inversion .inv-3-section {
      margin-bottom: 60px;
      padding-right: 10px;
      padding-left: 10px;
      margin-top: 60px; }
      .inversion .inv-3-section figure {
        display: none; }
      .inversion .inv-3-section .inv-3-section_text {
        height: auto; }
        .inversion .inv-3-section .inv-3-section_text h2 span {
          display: block; }
        .inversion .inv-3-section .inv-3-section_text p {
          font-size: 1.2rem;
          font-weight: normal; }
  .iban {
    padding-left: 10px !important;
    padding-right: 10px !important;
    overflow: hidden;
    margin-top: 120px; }
    .iban h1 {
      font-size: 2rem;
      text-align: left !important; }
      .iban h1 span {
        display: block; }
    .iban .iban-1-section {
      margin-top: 33px; }
      .iban .iban-1-section figure {
        order: 0;
        margin-bottom: 28px; }
      .iban .iban-1-section .iban-1-section_text p {
        font-size: 1.2rem;
        font-weight: normal; }
    .iban .iban-2-section {
      flex-direction: column !important;
      padding: 0px;
      margin-top: 33px; }
      .iban .iban-2-section figure {
        width: 100%;
        margin-bottom: 28px; }
      .iban .iban-2-section .iban-2-section_text {
        width: 100%;
        font-size: 1.2rem;
        font-weight: normal; }
    .iban .iban-3-section {
      margin-top: 37px; }
      .iban .iban-3-section h5 {
        text-align: left !important; }
      .iban .iban-3-section p {
        padding: 0px !important;
        margin: 0px !important;
        font-size: 1.4rem; }
    .iban .iban-4-section {
      margin-right: 0px !important;
      margin-left: 0px !important;
      margin-top: 37px;
      width: 100%; }
      .iban .iban-4-section .comment {
        margin-top: 20px; }
        .iban .iban-4-section .comment ul {
          padding-left: 0px; }
          .iban .iban-4-section .comment ul li {
            border-left: 1px solid #339966;
            margin-left: 0px !important;
            padding-left: 10px;
            font-size: 1.4rem;
            line-height: 30px;
            font-weight: normal; }
            .iban .iban-4-section .comment ul li strong {
              font-size: 1.2rem;
              font-weight: normal !important;
              color: #818a91; }
            .iban .iban-4-section .comment ul li:before {
              display: none !important; }
    .iban .iban-5-section h5 {
      text-align: left !important; }
  .opinion {
    padding-right: 10px !important;
    padding-left: 10px !important;
    overflow: hidden; }
    .opinion .opinion-1-section {
      margin-top: 120px; }
      .opinion .opinion-1-section .opinion-1-section_text h1 {
        font-size: 2rem; }
      .opinion .opinion-1-section .opinion-1-section_text h5 {
        font-size: 1.3rem;
        font-weight: normal;
        line-height: 30px; }
      .opinion .opinion-1-section .cover {
        padding: 0px !important;
        height: 210px !important; }
        .opinion .opinion-1-section .cover figure {
          min-width: 50px !important; }
    .opinion .opinion-2-section .comment {
      position: relative; }
      .opinion .opinion-2-section .comment div span {
        font-size: 1.4rem;
        line-height: 30px; }
        .opinion .opinion-2-section .comment div span strong {
          font-size: 1rem;
          color: #818a91;
          font-weight: normal; }
      .opinion .opinion-2-section .comment ul {
        width: 100%;
        padding: 0px; }
        .opinion .opinion-2-section .comment ul li {
          margin-left: 0px; }
          .opinion .opinion-2-section .comment ul li:before {
            display: none; }
          .opinion .opinion-2-section .comment ul li div {
            border: none; }
          .opinion .opinion-2-section .comment ul li p.h4 {
            display: none; }
          .opinion .opinion-2-section .comment ul li figure {
            position: relative;
            left: 0px;
            margin: auto;
            margin-bottom: 53px;
            width: 89px; }
          .opinion .opinion-2-section .comment ul li span {
            display: block;
            border-left: 1px solid #339966;
            padding-left: 10px; }
  .contact {
    padding-right: 10px !important;
    padding-left: 10px !important;
    margin-top: 120px; } }

@media (max-width: 991.99px) {
  footer {
    margin-top: 50px; }
  .info-1-section_img_mobile {
    display: block !important; }
  .intro-page {
    padding-right: 0px;
    padding-left: 0px; }
    .intro-page section {
      margin-top: 0px; }
    .intro-page .intro-section figure.banner {
      margin-bottom: 0px;
      overflow: hidden; }
      .intro-page .intro-section figure.banner .info-1-section_img_mobile {
        top: 180px;
        right: 0px; }
    .intro-page section.info-1-section {
      height: auto;
      position: relative;
      overflow: hidden;
      padding-top: 50px; }
      .intro-page section.info-1-section .container {
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important; }
      .intro-page section.info-1-section .info-1-section_text {
        width: 100%; }
        .intro-page section.info-1-section .info-1-section_text span {
          display: none; }
      .intro-page section.info-1-section .info-1-section_img {
        display: none; }
      .intro-page section.info-1-section .info-1-section_img_mobile {
        bottom: -290px;
        margin: auto;
        transform: scale(0.9, 0.8);
        left: 82px; }
    .intro-page .info-2-section {
      display: none; }
    .intro-page ul {
      display: none; }
    .intro-page .info-3-section {
      position: relative;
      height: 700px;
      overflow: hidden;
      padding-top: 50px; }
      .intro-page .info-3-section .info-1-section_img_mobile {
        bottom: -50px;
        margin: auto;
        transform: scale(0.9, 0.8) rotate(30deg);
        left: 82px; } }

@media (max-width: 1199.99px) {
  .inversion .inv-1-section {
    margin-top: 100px; }
    .inversion .inv-1-section .inv-1-section_container .inv-1-section_img {
      top: 77px;
      right: -71px; }
  .inversion .inv-3-section figure {
    display: none; } }
