@media (max-width: 767.99px) {
  section {
    margin-top: 20px; }
  .inversion .inv-1-section {
    margin-top: 100px; }
    .inversion .inv-1-section .info-section_text ul {
      display: none; }
    .inversion .inv-1-section .inv-1-section_container .inv-1-section_text {
      width: 100%; }
    .inversion .inv-1-section .inv-1-section_container .inv-1-section_img {
      top: 228px;
      right: 103px; }
      .inversion .inv-1-section .inv-1-section_container .inv-1-section_img figure {
        width: 338px; }
  .inversion .inv-2-section {
    margin-top: 637px; }
    .inversion .inv-2-section:after {
      height: 596px; }
    .inversion .inv-2-section .inv-2-section_card .card {
      margin: 40px auto; }
  .inversion .inv-3-section figure {
    display: none; }
  .opinion .opinion-2-section .comment ul {
    width: 100%; } }

@media (max-width: 991.99px) {
  .intro-page section {
    margin-top: 0px; }
  .intro-page .intro-section figure {
    margin-bottom: 0px; }
  .intro-page section.info-1-section {
    display: none; }
    .intro-page section.info-1-section .info-1-section_text {
      width: 100%; }
    .intro-page section.info-1-section .info-1-section_img {
      display: none; }
  .intro-page ul {
    display: none; }
  .intro-page .info-3-section {
    height: 300px; } }

@media (max-width: 1199.99px) {
  .inversion .inv-1-section {
    margin-top: 100px; }
    .inversion .inv-1-section .inv-1-section_container .inv-1-section_img {
      top: 20px;
      right: -4px; }
  .inversion .inv-3-section figure {
    display: none; } }
