.page-menu {
  height: 70px;


  figure {
    padding: 0px;
    margin: 0px;
    img {
      width: 150px;
    }
  }

  ul {
    list-style: none;
    margin-bottom: 0px;

    a {
      margin-right: 20px;
      color: #000;

      &:hover {
        text-decoration: none;
      }
      &:last-child {
        margin-right: 0px;
      }
    }

  }
}