.page-menu {
  height: 70px; }
  .page-menu figure {
    padding: 0px;
    margin: 0px; }
    .page-menu figure img {
      width: 150px; }
  .page-menu nav i {
    font-size: 35px; }
  .page-menu nav ul {
    list-style: none;
    margin-bottom: 0px; }
    .page-menu nav ul a {
      margin-right: 20px;
      color: #000; }
      .page-menu nav ul a:hover {
        text-decoration: none; }
      .page-menu nav ul a:last-child {
        margin-right: 0px; }
