$btn-primary: #339966;

.container-fluid {
  padding-right: 50px;
  padding-left: 50px;
}

section {
  width: 100%;
  margin-top: 100px;

  .info-section_text {
    width: 400px;
    margin-right: 100px;
  }
}

footer {

  .container {
    padding: 40px;
  }
}

figure {
  padding: 0px;

  img {
    width: 100%;
  }
}

button {
  border-radius: 5px;
  outline: none;
  border: 0px;
  cursor: pointer;
}

.p-color {
  color: $btn-primary

}

