// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)

@media (max-width: 575.99px) {
  footer {
    margin-top: 0px !important;
  }

  .intro-text{
    margin-left: 10px !important;
    width: 100% !important;
  }
  .info-section_text {
    margin-right: 0px !important;
  }


  html {
    font-size: 12px !important;
  }

  .intro-section {
    margin-top: 120px !important;
    figure.banner {
      button {
        margin-left: 10px !important;
      }

      .info-1-section_img_mobile {
        transform: scale(0.6, 0.6);
        top: -36px !important;
        right: -97px !important;
      }
    }
  }

  .intro-page {
    .info-3-section {
      height: 500px !important;

      .info-1-section_img_mobile {
        bottom: -140px !important;
        margin: auto;
        transform: scale(0.6,0.6) rotate(30deg) !important;
        left: 47px !important;

      }
    }
  }
  .intro-page section.info-1-section .info-1-section_img_mobile {
    left: 61px !important;
  }


  .ahorro {
    .ah-2-section_text {
      flex-direction: column !important;
      padding-right: 10px !important;
      padding-left: 10px !important;
      .text {
        width: 100% !important;
      }
    }

    .ah-1-section {
      .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
      }
    }


  }




}

// Medium devices (tablets, 768px and up)
@media (max-width: 767.99px) {
  html {
    font-size: 14px !important;
  }

  section {
    margin-top: 20px;

  }
  .inversion {
    .inv-1-section {
      margin-top: 100px;

      .info-section_text {
        ul {
          display: none;
        }
      }



      .inv-1-section_container {
        .inv-1-section_text {
          width: 100%;
        }
      }


      .inv-1-section_container {
        .inv-1-section_img {
          top: 245px !important;
          left: 0 !important;

          figure {
            width: 338px;
          }
        }
      }
    }

    .inv-2-section {
      margin-top: 637px;

      &:after {
        height: 596px;
      }

      .inv-2-section_card {
        .card {
          margin: 40px auto;
        }
      }
    }

    .inv-3-section {
      margin-bottom: 170px;
      figure {
        display: none;
      }
    }
  }

  .opinion {
    padding-right: 10px !important;
    padding-left: 10px !important;

    .opinion-1-section {
      .cover {
        padding: 0px !important;
        figure {
          min-width: 50px !important;
        }
      }
    }
    
    
    .opinion-2-section {
      .comment ul {
        width: 100%;
        padding: 0px;
        li {
          margin-left: 0px;
          &:before {
            display: none;
          }
          p.h4 {
            display: none;
          }

          figure {
            position: relative;
            left: 0px;
            margin: auto;
          }
        }
        

      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 991.99px) {
  footer {
    margin-top: 50px;
  }
  .info-1-section_img_mobile {
    display: block !important;
  }

  .intro-page {
    padding-right: 0px;
    padding-left: 0px;

    section {
      margin-top: 0px;
    }

    .intro-section {
      figure.banner {
        margin-bottom: 0px;
        overflow: hidden;

        .info-1-section_img_mobile {
          top: 180px;
          right: 0px;
        }
      }
    }

    section.info-1-section {
      height: 500px;
      position: relative;
      overflow: hidden;
      padding-top: 50px;

      .container {
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
      }

      .info-1-section_text {
        width: 100%;
        span {
          display: none;
        }
      }

      .info-1-section_img {
        display: none;
      }
      .info-1-section_img_mobile {
        bottom: -290px;
        margin: auto;
        transform: scale(0.9,0.8);
        left: 82px;

      }

    }

    .info-2-section {
      display: none;
    }

    ul {
      display: none;
    }

    .info-3-section {
      position: relative;
      height: 700px;
      overflow: hidden;
      padding-top: 50px;

      .info-1-section_img_mobile {
        bottom: -50px;
        margin: auto;
        transform: scale(0.9,0.8) rotate(30deg);
        left: 82px;

      }
    }

  }




}

// Extra large devices (large desktops, 1024px and up)
@media (max-width: 1199.99px) {

  .inversion {
    .inv-1-section {
      margin-top: 100px;

      .inv-1-section_container {
        .inv-1-section_img {
          top: 77px;
          right: -71px;
        }
      }
    }

    .inv-3-section figure {
      display: none;
    }
  }
}