// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)

@media (max-width: 575.99px) {  }

// Medium devices (tablets, 768px and up)
@media (max-width: 767.99px) {


  section {
    margin-top: 20px;

  }
  .inversion {
    .inv-1-section {
      margin-top: 100px;

      .info-section_text {
        ul {
          display: none;
        }
      }



      .inv-1-section_container {
        .inv-1-section_text {
          width: 100%;
        }
      }


      .inv-1-section_container {
        .inv-1-section_img {
          top: 228px;
          right: 103px;

          figure {
            width: 338px;
          }
        }
      }
    }

    .inv-2-section {
      margin-top: 637px;

      &:after {
        height: 596px;
      }

      .inv-2-section_card {
        .card {
          margin: 40px auto;
        }
      }
    }

    .inv-3-section {
      figure {
        display: none;
      }
    }
  }

  .opinion {
    .opinion-2-section {
      .comment ul {
        width: 100%;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 991.99px) {


  .intro-page {

    section {
      margin-top: 0px;
    }

    .intro-section {
      figure {
        margin-bottom: 0px;
      }
    }






    section.info-1-section {
      display: none;
      .info-1-section_text {
        width: 100%;
      }

      .info-1-section_img {
        display: none;
      }
    }

    ul {
      display: none;
    }

    .info-3-section {
      height: 300px;
    }

  }




}

// Extra large devices (large desktops, 1024px and up)
@media (max-width: 1199.99px) {

  .inversion {
    .inv-1-section {
      margin-top: 100px;

      .inv-1-section_container {
        .inv-1-section_img {
          top: 20px;
          right: -4px;
        }
      }
    }

    .inv-3-section figure {
      display: none;
    }
  }
}